#homeBody {
    background-color: #FF9A69;
    min-height: 100vh;
    scroll-behavior: smooth;

}

#gelfoHeader {
    font-size: 56px;
    font-family: "Saira", serif;
    font-weight: bold;
    color: #FB5A32;
    /* text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; */
    -webkit-text-stroke-color: #040404;
    -webkit-text-stroke-width: 3px;
}

#gelfoPicture {
    height: 26.3125em;
    width: 29em;
}

#reactPicture {
    height: 230px;
    width: 230px;
}


#angularPicture {
    height: 230px;
    width: 230px;
}

#professionsPicture {
    height: 391px;
    width: 586px;
}

.iconPicture {
    height: 263px;
    width: 263px;
    transition: 0.15s ease-in-out;
}

.iconPicture:hover {
    /* height: 290px;
    width: 290px; */
    transform: scale(1.15);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.gelfoPts {
    font-family: "Recursive", sans-serif;
    color: white !important;
    text-shadow: 
    -1.4px -1.4px 0 #000,  
    1.4px -1.4px 0 #000,
    -1.4px 1.4px 0 #000,
    1.4px 1.4px 0 #000;
    font-size: 28.8px;
    white-space: pre;
    font-weight: bold;
    max-width: 100%;
    text-wrap: wrap;
}

.subProjectPt {
    color: #0f0f0f !important;
    font-size: 19.2px;
    text-shadow: none;

}

.threeDimensionalText {
    top: 50%; 
    right: 50%;
    /* transform: translate(50%,-50%); */
    /* font-family: verdana; */
    /* font-size: 12em; */
    font-size: 32px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 1.5px 1px #919191,
        1px 2px 1px #919191,
        1px 2.5px 1px #919191,
        1px 3px 1px #919191,
        1px 3.5px 1px #919191,
        1px 4px 1px #919191,
        1px 4.5px 1px #919191,
        1px 5px 1px #919191,
    1px 9px 3px rgba(16,16,16,0.4),
    1px 11px 5px rgba(16,16,16,0.2),
    1px 12.5px 17.5px rgba(16,16,16,0.2),
    1px 15px 30px rgba(16,16,16,0.4);
    transition: 0.2s ease;

}

.threeDimensionalText:hover {
    transition: 0.2s ease;
    color: #d1d1d1;
    cursor: pointer;
    text-shadow: 1px 1px 1px #616161,
        1px 1px 1px #616161,
        1px 1.5px 1px #616161,
        1px 2px 1px #616161,
        1px 2.5px 1px #616161,
        1px 3px 1px #616161,
        1px 3.5px 1px #616161,
        1px 4px 1px #616161,
        1px 4.5px 1px #616161,
        1px 5px 1px #616161,
    1px 9px 3px rgba(16,16,16,0.4),
    1px 11px 5px rgba(16,16,16,0.2),
    1px 12.5px 17.5px rgba(16,16,16,0.2),
    1px 15px 30px rgba(16,16,16,0.4);
}


.footerLinks {
    font-family: "Recursive", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #C0C0C0;
    margin-left: 0.6em;
    margin-right: 0.7em;
    transition: 0.2s ease;

}

.footerLinks:hover {
    font-size: 18px;
    font-weight: normal;
    color: #FB5A32;
    cursor: pointer;
}

#mainBody {
    scroll-behavior: smooth;
  }

.projectHeaderImg {
    height: 6.4em;
    width: auto;
}

.collapse {
    visibility: visible !important;
}

.demoScreenshots {
    font-family: "Recursive", sans-serif;
    font-size: 20.8px;
    color: #c7310c;
    font-weight: bold;
    transition: 0.2s ease;

}

.demoScreenshots:hover {
    font-family: "Recursive", sans-serif;
    font-size: 20.8px;
    color: #992609;
    font-weight: 800;
    transition: 0.2s ease;
    cursor: pointer;

}

.selectedDSOption {
    font-family: "Recursive", sans-serif;
    font-size: 20.8px;
    color: #992609;
    font-weight: 800;
    transition: 0.5s ease;

    
    
}




.kgCarousel1 {
    height: 438.4px;
    width: auto;
}

.carousel-caption {
    padding-top: 16px !important;
}

.kgContent {
    transition: 0.5s ease;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation2 {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #992609;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #992609;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .arrowImg {
    height: 16px;
    width: auto;
  }

  .carouselCaption {
    font-family: 'Recursive', sans-serif;
  }