<div id="homeBody">

    <!-- Navbar -->
    <app-navbar></app-navbar>


    <!-- KnightroGrade Section -->
    <div id="homeMain" class="mt-12 w-full pb-24">

        <!-- Header -->
        <div class="flex justify-center items-center">

            <!-- KnightroGrade Logo -->
            <img class="projectHeaderImg mx-8" src="../../assets/images/Knightro_Logo_Final.png" alt="logo for KnightroGrade project" />

            <!-- Title -->
            <div id="gelfoHeader" class="text-center">
                KnightroGrade
            </div>

            <!-- React Logo -->
            <img class="projectHeaderImg mx-7" src="../../assets/images/react.png" alt="logo for KnightroGrade project" />


        </div>





    </div>


    <!-- Footer -->
    <!-- <div class="footerBase flex justify-around">
        <a class="footerLinks invisible">Projects -&gt;</a>
        <a href="#homeBody" class="footerLinks">Back to Top</a>
        <div class="footerLinks">Projects -&gt;</div>
    </div> -->
</div>