<div id="projBody">

    <!-- Navbar -->
    <app-navbar></app-navbar>


    <!-- KnightroGrade Section -->
    <div id="homeMain" class="mt-12 w-full pb-24">

        <!-- Header -->
        <div class="flex justify-center items-center">

            <!-- KnightroGrade Logo -->
            <img class="projectHeaderImg mx-8" src="assets/images/Knightro_Logo_Final.png"
                alt="logo for KnightroGrade project" />

            <!-- Title -->
            <div id="gelfoHeader" class="text-center">
                KnightroGrade
            </div>

            <!-- React Logo -->
            <img class="projectHeaderImg mx-7" src="assets/images/react_icon.png"
                alt="logo for KnightroGrade project" />

        </div>

        <!-- Body -->
        <div class="flex mt-14">

            <!-- Left: Bullet Points and Collapsing Info -->
            <div class="gelfoPts w-[50%] pl-24">

                <!-- Point 1 -->
                <div class="flex items-center">
                    <div class="pr-3" type="button" (click)="kgIsCollapsed1 = !kgIsCollapsed1; kgRotate(1)"
                        [attr.aria-expanded]="!kgIsCollapsed1" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='kgRotateState1' src="assets/images/arrow.png" />
                    </div> Senior Design Project in React
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="kgIsCollapsed1" class="subProjectPt ml-12">KnightroGrade
                    was my Senior Design Project at UCF, utilizing a PERN Stack with Postgres, Express,
                    React, and Node. I primarily worked on the front-end team with React.</div>

                <!-- Point 2 -->
                <div class="mt-6">
                    <button class="pr-3" type="button" (click)="kgIsCollapsed2 = !kgIsCollapsed2; kgRotate(2)"
                        [attr.aria-expanded]="!kgIsCollapsed2" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='kgRotateState2' src="assets/images/arrow.png" />
                    </button>
                    Code Submission & Grading System for UCF
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="kgIsCollapsed2" class=" subProjectPt ml-12">Our
                    project revolved around creating an automatic code grading system for UCF. Students would submit
                    their programs to our website and have them automatically graded with test cases set by the
                    professor, saving tedium and time for the TAs.</div>

                <!-- Point 3 -->
                <div class="mt-6"><button class="pr-3" type="button"
                        (click)="kgIsCollapsed3 = !kgIsCollapsed3; kgRotate(3)" [attr.aria-expanded]="!kgIsCollapsed1"
                        aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='kgRotateState3' src="assets/images/arrow.png" />
                    </button> Front-End Manager & Figma Designer</div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="kgIsCollapsed3" class="subProjectPt ml-12">In this
                    project, I took on the role of front-end manager, creating
                    the schedules and leading the design process of our website. Initial designs were crafted and
                    refined with Figma, until we finally made them a reality with React and BootStrap.</div>
            </div>


            <!-- Right: Demo Video & Screenshot Carousel -->
            <div class="w-[50%] h-[438.4px]">

                <!-- Options to switch between -->
                <div class="flex justify-center">
                    <div (click)="kgShowVideo = true; kgShowCarousel = false;" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': kgShowVideo === true, 'demoScreenshots': kgShowVideo == false}">
                        Demo Video</div>
                    <div (click)="kgShowVideo = false; kgShowCarousel = true;" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': kgShowCarousel === true, 'demoScreenshots': kgShowCarousel == false}">
                        Screenshots</div>
                </div>

                <!-- Demo Video -->
                <div *ngIf="kgShowVideo" class="pt-8 flex justify-center kgContent" [@inOutAnimation]>
                    <iframe width="672" height="378" src="https://www.youtube.com/embed/Iw2rcweqeJo?si=m5EqZim4xfHvk1GT"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>

                <!-- Screenshot Carousel -->
                <div *ngIf="kgShowCarousel" class="pt-8 kgContent" [@inOutAnimation]>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_homepage.png" alt="KnightroGrade homepage"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_courses.png" alt="Random second slide"
                                    class="kgCarousel1" />
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div> -->
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_ide.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>


    <!-- CerealBoxd Section -->
    <div id="homeMain" class="mt-12 w-full pb-24">

        <!-- Header -->
        <div class="flex justify-center items-center">

            <!-- CerealBoxd Logo -->
            <img class="projectHeaderImg ml-8 mr-1" src="assets/images/cerealboxd_logo.png"
                alt="logo for CerealBoxd project" />

            <!-- Title -->
            <div id="gelfoHeader" class="text-center">
                CerealBoxd
            </div>

            <!-- React Logo -->
            <img class="projectHeaderImg mx-7" src="assets/images/react_icon.png"
                alt="React logo icon" />

        </div>

        <!-- Body -->
        <div class="flex mt-14">

            <!-- Left: Bullet Points and Collapsing Info -->
            <div class="gelfoPts w-[50%] pl-24">

                <!-- Point 1 -->
                <div class="flex items-center">
                    <div class="pr-3" type="button" (click)="cbIsCollapsed1 = !cbIsCollapsed1; cbRotate(1)"
                        [attr.aria-expanded]="!cbIsCollapsed1" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='cbRotateState1' src="assets/images/arrow.png" />
                    </div> Cross-Platform Web & Mobile App
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="cbIsCollapsed1" class="subProjectPt ml-12">CerealBoxd is a breakfast-themed twist on LetterBoxd, a popular movie-rating social platform. We created this social application to be cross-platform with React and React Native.</div>

                <!-- Point 2 -->
                <div class="mt-6">
                    <button class="pr-3" type="button" (click)="cbIsCollapsed2 = !cbIsCollapsed2; cbRotate(2)"
                        [attr.aria-expanded]="!cbIsCollapsed2" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='cbRotateState2' src="assets/images/arrow.png" />
                    </button>
                    MERN Stack Project
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="cbIsCollapsed2" class=" subProjectPt ml-12">CerealBoxd was done with a MERN Stack - MongoDB, Express, React, and Node. I was present throughout all teams on this project, primarily focusing on Mobile Front-End.</div>

                <!-- Point 3 -->
                <!-- <div class="mt-6"><button class="pr-3" type="button"
                        (click)="kgIsCollapsed3 = !kgIsCollapsed3; kgRotate(3)" [attr.aria-expanded]="!kgIsCollapsed1"
                        aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='kgRotateState3' src="assets/images/arrow.png" />
                    </button> Front-End Manager & Figma Designer</div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="kgIsCollapsed3" class="subProjectPt ml-12">In this
                    project, I took on the role of front-end manager, creating
                    the schedules and leading the design process of our website. Initial designs were crafted and
                    refined with Figma, until we finally made them a reality with React and BootStrap.</div> -->
            </div>


            <!-- Right: Demo Video & Screenshot Carousel -->
            <div class="w-[50%] h-[438.4px]">

                <!-- Options to switch between -->
                <div class="flex justify-center">
                    <div (click)="cbShowVideoWeb = true; cbShowVideoMobile = false; cbShowCarousel = false" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': cbShowVideoWeb === true, 'demoScreenshots': cbShowVideoWeb == false}">
                        Demo Video (Web)</div>
                    <div (click)="cbShowVideoMobile = true; cbShowVideoWeb = false; cbShowCarousel = false" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': cbShowVideoMobile === true, 'demoScreenshots':  cbShowVideoMobile == false}">
                        Demo Video (Mobile)</div>
                </div>

                <!-- Demo Video (Web) -->
                <div *ngIf="cbShowVideoWeb" class="pt-8 flex justify-center kgContent" [@inOutAnimation]>
                    <iframe width="672" height="378" src="https://www.youtube.com/embed/txgYjM-E2rE?si=ydRCVlUH1ZyU6q0W" 
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>

                <!-- Demo Video (Mobile) -->
                <div *ngIf="cbShowVideoMobile" class="pt-8 flex justify-center kgContent" [@inOutAnimation]>
                    <iframe width="672" height="378" src="https://www.youtube.com/embed/kq0WzmcJL2I?si=BKzpTslkHneALSAY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>

                <!-- Screenshot Carousel -->
                <div *ngIf="cbShowCarousel" class="pt-8 kgContent" [@inOutAnimation]>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_homepage.png" alt="KnightroGrade homepage"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_courses.png" alt="Random second slide"
                                    class="kgCarousel1" />
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div> -->
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/kg_ide.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>


    <!-- Unwilling Chef Section -->
    <div id="homeMain" class="mt-12 w-full pb-6">

        <!-- Header -->
        <div class="flex justify-center items-center">

            <!-- Unwilling Chef Logo -->
            <img class="projectHeaderImg mx-7" src="assets/images/unwilling_chef.png"
                alt="logo for Unwilling Chef project" />

            <!-- Title -->
            <div id="gelfoHeader" class="text-center">
                Unwilling Chef
            </div>

            <!-- Figma Logo -->
            <img class="projectHeaderImg mx-7" src="assets/images/figma.png"
                alt="Figma logo icon" />

        </div>

        <!-- Body -->
        <div class="flex mt-14">

            <!-- Left: Bullet Points and Collapsing Info -->
            <div class="gelfoPts w-[50%] pl-24">

                <!-- Point 1 -->
                <div class="flex items-center">
                    <div class="pr-3" type="button" (click)="ucIsCollapsed1 = !ucIsCollapsed1; ucRotate(1)"
                        [attr.aria-expanded]="!ucIsCollapsed1" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='ucRotateState1' src="assets/images/arrow.png" />
                    </div> User-Centered Design Project
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="ucIsCollapsed1" class="subProjectPt ml-12">The Unwilling Chef was a project done for my Digital Media minor, in which our team spent the semester planning a large-scale, interactive prototype of an app of our choosing. Along the way, we completed numerous User-Centered Design staples, such as interaction analyses, think-aloud protocols, user surveys, etc.</div>

                <!-- Point 2 -->
                <div class="mt-6">
                    <button class="pr-3" type="button" (click)="ucIsCollapsed2 = !ucIsCollapsed2; ucRotate(2)"
                        [attr.aria-expanded]="!ucIsCollapsed2" aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='ucRotateState2' src="assets/images/arrow.png" />
                    </button>
                    Uniquely Targeted Meal Planning App
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="ucIsCollapsed2" class=" subProjectPt ml-12">We planned for our app to specifically target those who have trouble meal planning; if they have ADHD or depression, for instance, or are just new to the whole process. This heavily impacted our design, for instance inspiring the inclusion of a interactive "mascot" to take care of by successfully following your meal plan.</div>

                <!-- Point 3 -->
                <div class="mt-6"><button class="pr-3" type="button"
                        (click)="ucIsCollapsed3 = !ucIsCollapsed3; ucRotate(3)" [attr.aria-expanded]="!kgIsCollapsed1"
                        aria-controls="collapseExample">
                        <img class="arrowImg" [@rotateAnimation]='ucRotateState3' src="assets/images/arrow.png" />
                    </button> Figma Prototype in Action</div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="ucIsCollapsed3" class="subProjectPt ml-12">Our final deliverable was a heavily interactable Figma prototype. The video linked to the right shows it in action!</div>
            </div>


            <!-- Right: Demo Video & Screenshot Carousel -->
            <div class="w-[50%]  h-[600.4px]">

                <!-- Options to switch between -->
                <div class="flex justify-center">
                    <div (click)="ucShowVideo = true; ucShowCarousel = false" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': ucShowVideo === true, 'demoScreenshots': ucShowVideo == false}">
                        Demo Video</div>
                    <div (click)="ucShowCarousel = true; ucShowVideo = false" class="mx-8 hover-underline-animation"
                        [ngClass]="{'selectedDSOption hover-underline-animation2': ucShowCarousel === true, 'demoScreenshots':  ucShowCarousel == false}">
                        User-Centered Design Process</div>
                </div>

                <!-- Demo Video -->
                <div *ngIf="ucShowVideo" class="pt-8 flex justify-center kgContent" [@inOutAnimation]>
                    <iframe width="672" height="378" src="https://www.youtube.com/embed/w6HN_G49C_4?si=yOG-OMDkHPP3_jvq"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>

                

                <!-- Screenshot Carousel -->
                <div *ngIf="ucShowCarousel" class="pt-8 kgContent" [@inOutAnimation]>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">                        
        
                        <!-- Use Case Comic -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_5_use_case.PNG" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Use Case Diagram</h3>
                                <p>Developed this comic to show how & why prospective users would go on our app</p>
                            </div>
                        </ng-template>

                        <!-- Navigation -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_6_nav.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Navigation</h3>
                                <p>Represents how users can navigate our app, in mind-map format</p>
                            </div>
                        </ng-template>

                        <!-- Navigation Wireflow -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_6_nav_wireflow.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Navigation Wireflow</h3>
                                <p>Planned out how users will navigate our app in visual, chronological format</p>
                            </div>
                        </ng-template>

                        <!-- Extra Design - Simple -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_9_simple.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center pt-6">
                                <!-- <p>Featuring </p> -->
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Extra Design: Simple</h3>
                                <p>Developed an alternative, simpler design in case of negative user feedback</p>
                            </div>
                        </ng-template>

                        <!-- Extra Design - Wild -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_9_extreme.png" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Extra Design: Wild</h3>
                                <p>Developed an alternative, wilder design in case of negative user feedback</p>
                            </div>
                        </ng-template>


                        <!-- Design Language -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_9_design_lang.PNG" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Design Language</h3>
                                <p>Put together a design language to ensure consistency across screens and members</p>
                            </div>
                        </ng-template>

                        <!-- Interaction Analysis -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_5_interaction_analysis.PNG" alt="Random third slide"
                                    class="kgCarousel1" />
                            </div>
                            
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Interaction Analysis</h3>
                                <p>Mapped out how users will interact with our app using swimlanes</p>
                            </div>
                        </ng-template>

                        <!-- User Surveys -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/uc_4_survey.PNG" alt="Random second slide"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>User Surveys</h3>
                                <p>Conducted user surveys to determine our audience and what features are most desired</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>

    <!-- More Projects Section -->
    <div id="homeMain" class="w-full pb-24">

        <!-- Header -->
        <div class="flex justify-center items-center">

            <!-- Unwilling Chef Logo -->
            <!-- <img class="projectHeaderImg mx-7" src="assets/images/unwilling_chef.png"
                alt="logo for Unwilling Chef project" /> -->

            <!-- Title -->
            <div id="gelfoHeader" class="text-center">
                More Projects...
            </div>

            <!-- Figma Logo -->
            <!-- <img class="projectHeaderImg mx-7" src="assets/images/figma.png"
                alt="Figma logo icon" /> -->

        </div>

        <!-- Body -->
        <div class="flex justify-center mt-10">
            <div class="h-[600.4px]">

                <!-- Screenshot Carousel -->
                <div class=" kgContent" [@inOutAnimation]>
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">                        
        
                        <!-- Pair-a-Dice 1 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/pairadice_1.PNG" alt="Pair-a-Dice Contact Manager Homepage"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Pair-a-Dice Contact Manager (1)</h3>
                                <p>LAMP Stack Project - Casino Themed Contact Manager</p>
                            </div>
                        </ng-template>

                        <!-- Pair-a-Dice 2 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/pairadice_2.PNG" alt="Pair-a-Dice Management Page"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Pair-a-Dice Contact Manager (2)</h3>
                                <p>LAMP Stack Project - Casino Themed Contact Manager</p>

                            </div>
                        </ng-template>

                        <!-- Petey's 1 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/peteys_1.PNG" alt="Petey's Pizza Panic Screenshot 1"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Petey's Pizza Panic (1)</h3>
                                <p>Unity-Created (C#) 3D Pizza-Themed Platformer</p>
                            </div>
                        </ng-template>

                        <!-- Petey's 2 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/peteys_2.PNG" alt="Petey's Pizza Panic Screenshot 2"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Petey's Pizza Panic (2)</h3>
                                <p>Unity-Created (C#) 3D Pizza-Themed Platformer</p>
                            </div>
                        </ng-template>

                        <!-- Petey's 3 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/peteys_3.PNG" alt="Petey's Pizza Panic Screenshot 3"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Petey's Pizza Panic (3)</h3>
                                <p>Unity-Created (C#) 3D Pizza-Themed Platformer</p>
                            </div>
                        </ng-template>

                        <!-- 3D Island Render -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/model_render.png" alt="Island Scenery 3D Renders"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>3D Island Render</h3>
                                <p>Created 3D Models in Maya From Scratch for an Island Scene</p>
                            </div>
                        </ng-template>


                        <!-- Ink Story 1 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/dig2500_ink_1.png" alt="Star Wars themed Ink game"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Star Wars Ink Story (1)</h3>
                                <p>Interactive Text Game Made with Ink</p>
                            </div>
                        </ng-template>

                        <!-- Ink Story 2 -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/dig2500_ink_2.png" alt="Code for Star Wars themed Ink game"
                                    class="kgCarousel1" />
                            </div>
                            
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Star Wars Ink Story (2)</h3>
                                <p>Interactive Text Game Made with Ink</p>
                            </div>
                        </ng-template>

                        <!-- Composite Image -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/dig2109_lego.jpg" alt="Lego Composite Image"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Composite Images</h3>
                                <p>PhotoShop-Created Composite Images</p>
                            </div>
                        </ng-template>

                        <!-- Klonoa Pop Art -->
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper flex justify-center">
                                <img src="assets/images/dig2109_klonoa.jpg" alt="Pop Art Poster for Klonoa"
                                    class="kgCarousel1" />
                            </div>
                            <div class="flex flex-col items-center carouselCaption pt-6">
                                <h3>Pop-Art Poster</h3>
                                <p>Illustrator-Created Pop Art Poster of Klonoa</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>


    


    <!-- Footer -->
    <div class="footerBase flex justify-around">
        <a [routerLink]="['/home']" class="footerLinks">&lt;- Home</a>
        <a [routerLink]="['/projects']" fragment="projBody" class="footerLinks">Back to Top</a>
        <div class="footerLinks invisible">&lt;- Home</div>
    </div>
</div>