<div id="homeBody">

    <!-- Navbar -->
    <app-navbar></app-navbar>

    <div id="homeMain" class="flex justify-center mt-24 pb-24 w-full">

        <!-- Section for "Andy Gelfo" and bullet points -->
        <div class="w-[60%] pl-48">

            <!-- Header -->
            <div id="gelfoHeader">
                &lt; Andy Gelfo /&gt;
            </div>

            <!-- Bullet Points -->
            <div class="tw gelfoPts"></div>
        </div>

        <!-- Section for Andy picture -->
        <div class="w-[40%] pl-12">
            <img src="assets/images/andy_portrait.png" alt="Picture of Andy Gelfo with a retro stylized border"
                id="gelfoPicture" />
        </div>
    </div>


    <div id="homeMain" class="flex justify-center mt-12 w-full pb-24">

        <div class="w-[60%] pl-48">

            <!-- Header -->
            <div id="gelfoHeader">
                Versatile Developer
            </div>


            <!-- Bullet Points -->
            <!-- <div class="tw2 gelfoPts"></div> -->
            <div class="gelfoPts">
                <div>-&gt; Front-End Specialization</div>
                <div class="subGelfoPt ml-12">-&gt; React, Angular, React Native, Design Process with Figma</div>

                <div class="mt-6">-&gt; Full-Stack Development</div>
                <div class="subGelfoPt ml-12">-&gt; LAMP, MERN, PERN Stacks</div>

                <div class="mt-6">-&gt; Traditional Programming</div>
                <div class="subGelfoPt ml-12">-&gt; Java, C, C++, C#, JavaScript, etc.</div>

            </div>

        </div>

        <!-- Section for Andy picture -->
        <div class="w-[40%] pl-12">
            <div class="">
                <img src="../../assets/images/react_icon.png" alt="Picture of Andy Gelfo with a retro stylized border"
                    id="reactPicture" />
                <div class="threeDimensionalText pl-[2.2em]">React</div>
            </div>

            <div class="flex items-center flex-col">
                <img src="../../assets/images/angular_icon.png" alt="Picture of Andy Gelfo with a retro stylized border"
                    id="angularPicture" />
                <div class="threeDimensionalText">Angular</div>
            </div>
        </div>
    </div>


    <div id="homeMain" class="flex justify-center mt-12 w-full pb-24">

        <div class="w-[60%] pl-48">

            <!-- Header -->
            <div id="gelfoHeader">
                Professionally Experienced
            </div>


            <!-- Bullet Points -->
            <!-- <div class="tw2 gelfoPts"></div> -->
            <div class="gelfoPts">
                <div>-&gt; Software Developer Intern at Thales</div>
                <div class="subGelfoPt ml-12">-&gt; Angular-Based Web Design</div>
                <div class="subGelfoPt ml-12">-&gt; SCRUM Project Planning</div>
                <div class="subGelfoPt ml-12">-&gt; GitLab Source Control & Pipelines</div>

                <div class="mt-6">-&gt; Data Aggregation Intern at Self-Help CU</div>
                <div class="subGelfoPt ml-12">-&gt; Blazor Website Creation</div>
                <div class="subGelfoPt ml-12">-&gt; Data Collection with C#</div>
                <div class="subGelfoPt ml-12">-&gt; GitHub Source Control</div>
            </div>

        </div>

        <!-- Section for Andy picture -->
        <div class="w-[40%] pl-12">
            <div class="">
                <img src="../../assets/images/professions.png" alt="Picture of Andy Gelfo with a retro stylized border"
                    id="professionsPicture" />
            </div>


        </div>


    </div>


    <div id="homeMain" class="mt-12 w-full pb-24">

        <!-- Header -->
        <div id="gelfoHeader" class="text-center">
            Contact Me!
        </div>


        <div class="mt-12">
            <div class="flex justify-center">
                <div class="flex flex-col items-center">
                    <a href="https://www.linkedin.com/in/andy-gelfo/" target="_blank">
                        <img class="iconPicture mx-24" src="../../assets/images/linkedin_icon.png"
                            alt="3D Icon of the LinkedIn Logo" />
                    </a>
                    <a href="https://www.linkedin.com/in/andy-gelfo/" target="_blank"
                        class="threeDimensionalText mt-2">LinkedIn</a>
                </div>

                <div class="flex flex-col items-center">
                    <a target="_blank"
                        href="https://www.linkedin.com/in/andy-gelfo/overlay/1717031567398/single-media-viewer/?profileId=ACoAADhV4_YBI8KkTG9rlETHOZkQnTF92SVk1Z8">
                        <img class="iconPicture mx-24" src="../../assets/images/resume_icon.png"
                            alt="3D Icon of a Resume" />
                    </a>
                    <a target="_blank"
                        href="https://www.linkedin.com/in/andy-gelfo/overlay/1717031567398/single-media-viewer/?profileId=ACoAADhV4_YBI8KkTG9rlETHOZkQnTF92SVk1Z8"
                        class="threeDimensionalText mt-2">Resume</a>
                </div>
            </div>

            <div class="flex justify-center mt-12">
                <div class="flex flex-col items-center">

                    <a href="mailto:andyjgelfo@gmail.com" target="_blank">
                        <img class="iconPicture mx-24" src="../../assets/images/email_icon.png"
                            alt="3D Icon of an E-Mail Envelope" />
                    </a>
                    <a href="mailto:andyjgelfo@gmail.com" target="_blank" class="threeDimensionalText mt-2">E-Mail</a>
                </div>

                <div class="flex flex-col items-center">

                    <a href="https://github.com/andyjgelfo" target="_blank">
                        <img class="iconPicture mx-24" src="../../assets/images/github_icon.png"
                            alt="3D Icon of the GitHub Logo" />
                    </a>
                    <a href="https://github.com/andyjgelfo" target="_blank" class="threeDimensionalText mt-2">GitHub</a>
                </div>
            </div>

        </div>




    </div>

    <div class="footerBase flex justify-around">
        <a class="footerLinks invisible">Projects -&gt;</a>
        <a [routerLink]="['/home']" fragment="homeBody" class="footerLinks">Back to Top</a>
        <a [routerLink]="['/projects']" class="footerLinks">Projects -&gt;</a>
    </div>
</div>