<div id="homeBody">
    <app-navbar></app-navbar>

    <div id="homeMain" class="flex justify-center mt-24">

        <!-- Section for "Andy Gelfo" and bullet points -->
        <div class="mx-12">
            <div id="gelfoHeader">
                &lt; Andy Gelfo /&gt;
            </div>
        </div>

        <!-- Section for Andy picture -->
        <div class="mx-12">
            <img src="../../assets/images/andy_portrait.png" alt="Picture of Andy Gelfo with a retro stylized border" id="gelfoPicture" />
        </div>
    </div>
</div>
